@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center wow animate__flipInX">
    <h1 class="display-4 text-center">歡迎使用ProLan電子書管理系統!</h1>
    <img src="/img/spongebob-squarepants-sunglasses.gif" />
</div>